<user-panel name="{{vm.person.name}}" collapsed="{{vm.initialCollapsed}}" level="vm.person.level">
  <address></address>

  <h4>Friends</h4>
  <ul>
    <li ng-repeat="friend in vm.person.friends">
      {{friend}}
      <remove-friend method="vm.removeFriend(friend)"></remove-friend>
    </li>
  </ul>

  <div ng-show="!!vm.person.rank">
    Rank: {{vm.person.rank}}
  </div>
  <button ng-show="!vm.person.rank" class="btn btn-success" ng-click="vm.knightMe(vm.person)">Knight Me</button>
</user-panel>
